/* Colours

Main Red: #ed5747
Main Blue: #2b82b9
White: #e5eaea
Dark Gray: #606161

*/

html {
	font-family: "Source Sans Pro";
}

body {
	margin: 0;
}



a {
	text-decoration: none;
	color: #606161;
}

ul {
	list-style: none;
	margin: 0 auto;
	background-color: #ed5747;
	text-align: center;
	align-content: center;
}

.nav {
	position: static;
	width: 100%;
	text-align: center;
}

 .nav a:hover {
	padding-top: 2px;
	color: #e5eaea;
}

.nav a.clear-line {
	border-top: none;
}

.nav li {
	display: inline-block;
	border-right: 4px solid;
	border-color: #d12715;
	padding: 15px 25px;
	font-weight: bold;
	font-size: 20pt;
	line-height: 30px;
}

.nav li:last-child {
	border: none;
	background: #2b82b9;
	color:#e5eaea;
}

.active {
	color: #e5eaea;
	padding-top: 2px;
}

.nav img {
	height: 225px;
	width: 100%;
}



/* Content */
.container img {
	width: 250px;
	height: 250px;
	padding: 15px;
	margin: 0;
}

.container h2, h4{
      font-weight: normal;
      font-size: 15pt;
      margin-left: 30px;
}

p {
    width: 750px;
    padding: 25px;
    border: 5px ;
    margin-left: 20%;
    text-align: left;

}


table{
    width:75%;
    align-content: center;
    margin: 0 auto;
    border-left: 20px;
}

.pitch{
    display: block;
    margin-left: auto;
    margin-right: auto
}


.key_issues td {
     padding: 15px 25px;
}



.link {
    font-size: 20pt;
    padding: 15px 25px;
    font-weight: bold;
    line-height: 30px;
    background-color: #2ecc71;
    
}

.isometric_img {
    width: 750px;
	height: 500px;
	padding: 15px;
	margin: 30px;
	
}

.key_issues {
     font-weight: bold;
     font size: 14px;
}

hr{
    height: 50px;
    background-color: #e74c3c;
    border: none;
}
